body {
  background-color: #ffdfb9;
}

.title {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  flex-shrink: 0;
  margin: 2px;
  height: calc(150px + 6vw);
  width: calc(150px + 6vw);
  border: calc(2px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px #baffc8;
  border-radius: 10%;
  background-image: linear-gradient(#baffc8, #ffdfb9);
  margin-bottom: 30px;
  display: flex;
}
